version: 3

images:
  base_image:
    name: quay.io/ansible/awx-ee:latest

dependencies:
  ansible_core:
    package_pip: ansible-core==2.15.13

  ansible_runner:
    package_pip: ansible-runner
  python:
    - proxmoxer
    - requests

  galaxy:
    collections:
      - community.proxmox