version: 3

images:
  base_image:
    name: quay.io/ansible/ansible-runner:stable-2.15-latest

dependencies:
  ansible_core:
    package_pip: ansible-core==2.15.13

  ansible_runner:
    package_pip: ansible-runner

  galaxy:
    collections:
      - name: community.proxmox
