version: 3

images:
  base_image:
    name: quay.io/ansible/awx-ee:latest

dependencies:
  ansible_core:
    package_pip: ansible-core==2.15.13

  ansible_runner:
    package_pip: ansible-runner

  python:
    - -r requirements.txt
    - -c constraints.txt

  galaxy:
    collections:
      - name: community.proxmox
        version: ">=1.3.0"