version: 3

images:
  base_image:
    name: quay.io/ansible/ansible-runner:stable-2.12-latest

dependencies:
  ansible_core:
    package_pip: ansible-core==2.15.1

  # ansible_runner:
  #   package_pip: ansible-runner
   
  galaxy:
    collections:
      - name: community.proxmox
        version: ">=1.4.0"

additional_build_steps:
  prepend_builder:
    - RUN python3 -m pip install --upgrade pip setuptools wheel
  
task:   
  - name: Show pip and ansible versions
    ansible.builtin.shell: |
      pip --version
      ansible --version
      ansible-galaxy collection list | grep proxmox
    changed_when: false