version: 3

images:
  base_image:
    name: quay.io/ansible/ansible-runner:stable-2.12-latest

dependencies:
  ansible_core:
    package_pip: ansible-core==2.20.1

  # ansible_runner:
  #   package_pip: ansible-runner

  galaxy:
    collections:
      - name: community.proxmox
        version: ">=1.4.0"

