name: Build AWX Proxmox Execution Environment

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install ansible-builder
        run: |
          python -m pip install --upgrade pip
          pip install ansible-builder==3.1.1

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Execution Environment
        run: |
          ansible-builder build \
            --tag ${{ vars.DOCKERHUB_USERNAME }}/awx-ee-proxmox:latest \
            --backend docker
      
      - name: List Docker Images
        run: |
         docker images
#      - name: Push image to Docker Hub
#        run: |
 #         docker push ${{ vars.DOCKERHUB_USERNAME }}/awx-ee-proxmox:latest
